<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>栏目列表</title>

<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/light.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
<link href="../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
<link href="../assets/css/metro/blue/jtable.css" rel="stylesheet" type="text/css" >
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../assets/css/columLists.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>

<script src="../assets/plugins/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script type="text/javascript" src="../app/js/index.js"></script>
<script src="../assets/plugins/jquery-ui.js"></script>
<script src="../assets/plugins/jquery.jtable.js"></script>
<script src="../assets/plugins/jquery.jtable.zh-CN.js"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/jquery.colorbox.js"></script>
</head>
<body>

<!--head-->

		<!--head end-->
		<!--left-->
			<div class="page-container">
            <!-- BEGIN SIDEBAR -->

            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    Widget settings form goes here
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn blue">
                                        Save changes
                                    </button>
                                    <button type="button" class="btn default" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    
					
					<!--content-->
						
						<div class="content">
							
							<div class="cui-menu">
								<button class="btn-create btn" type="button">
									添加栏目
								</button>
							</div>
							
							<div id="TableContainer"></div>
							<script type="text/javascript">
								$(document).ready(
									function() {
										var parent = (url('?parent') != null) ? url('?parent') : '';
										var level = (url('?level') != null) ? '' : 1; 
										var navarr = []; 
										$.get('../front/admin/category!execute?uid=a0006&parent='+parent,function(r) {
											if(r.status =='success') {
												for ( var i = 0, l = r.data.length; i < l; i++ ) {
												    var navhtml = ' &gt; <a href="../views/categoryList.html?parent='+ r.data[i].id +'&level='+r.data[i].level +'">'+ r.data[i].name +'</a>';
													navarr.push(navhtml);
										
												}
												
											}
											
										}).done(function(){
											$('#TableContainer')
												.jtable(
														{
															title : '<a href="../views/categoryList.html">栏目管理</a> '+ navarr.join(''),
															messages : zhCN, //Lozalize
															paging : true, //Enable paging
															pageSize : 10, //Set page size (default: 10)
															pageSizes : [ 10, 20, 30, 40, 50 ],
															sorting : true, //Enable sorting
															defaultSorting : 'scode ASC', //Set default sorting
															dialogShowEffect : 'drop',
															addRecordButton : $('.btn-create'),
															actions : {
																listAction : '../front/admin/category!execute?uid=a0001&parent='+ parent +'&level='+level,
																updateAction : '../front/admin/category!execute?uid=a0004',
																deleteAction :'../front/admin/category!execute?uid=a0005',
																createAction : '../front/admin/category!execute?uid=a0003&parent='+ parent
															},
															fields : {
																id : {
																	title : '',
																	key : true,
																	width:'0%',
																	list:false
																},
																scode : {
																	title : '序号',
																	edit: false,
												                    create: false,
																	width:'5%'
																},
																name : {
																	title : '栏目名称',
																	width: '8%',
																	optionsSorting : 'value'
																	
																},
																status: {
																	title: '状态',
																	options : {
																		'normal' : '正常',
																		'stopped' : '停用'
																		
																	},
																	defaultValue : 'normal'
																	
																	
																},
																addviewchild: {
												                    title: '操作',
												                    width: '10%',
												                    sorting: false,
												                    edit: false,
												                    create: false,
												                    display: function (data) {
																			var html ='<a href="../views/categoryList.html?parent=' + data.record.id+'&level='+data.record.level +'">管理下级栏目</a>';
																		return html;
																	}
									
																}
					
														
															},
															
															columnResizable : false,
															deleteConfirmation: function(data) {
															  data.deleteConfirmMessage = '确定要停用个栏目?';
															},
															formClosed : function(event,data) {
																
															},
															recordsLoaded :function (data) {
										
															}
															
														});

										$('#TableContainer').jtable('load');
		
										
									});
								})
				</script>
						</div>
					
					<!--content end-->

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
		<!--left end-->
</body>
</html>