<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg name="name" value="China_Mobile_Media_Webssessionid" />
		<property name="path" value="/China_Mobile_Media_Web"/>
		<property name="httpOnly" value="true"/>
	</bean>
	
</beans>
